<div class="CAUTION">
    <u><h1 style="color: red;">CAUTION</h1><u>
<sly data-sly-set.name="srikanth"/>
<div>${name}</div> 
<div>  
  <span data-sly-unwrap>Practice AEM</span>
</div>

</div>
<html>
<title> adobe experience manager </title>
<body  style="background-color: orange;>

<center><h1><font face="impact" size="6" color="yellow"></h1></font></center><hr>
<op>
    <h1 style="color: blue;">SURGE SOFTWARE SOLUTIONS</h1><u>
</op>


<marquee scrollamount="20" bigcolor="yellow"><font size="impact" size=" 8" color="PINK">
<h1>PLATFORM FOR IT</h1>
</font></marquee>
</body>
</html>